################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/AutotechApi/DesignTimeBuild/.dtbcache.v2
/.vs/AutotechApi/FileContentIndex/166e33e8-3f8f-4a54-b612-85cc21f1eae6.vsidx
/.vs/AutotechApi/FileContentIndex/read.lock
/.vs/AutotechApi/FileContentIndex/c57451bc-14ba-4685-be38-f11c7f4d49bf.vsidx
/.vs/VSWorkspaceState.json
/.vs/AutotechApi_Back/v17/.wsuo
/obj/Debug/net6.0
/obj/Release/net6.0
/bin/Debug/net6.0
/.vs/AutotechApi/config
/.vs/AutotechApi/DesignTimeBuild/.dtbcache.v2
/.vs/AutotechApi_Back/FileContentIndex
